*{
	margin:  0;
	border: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

header{
	background-color: rgba(255, 0, 0);
	color: #fff;
	font-family: candara, arial;
	width:  100%;
	position: fixed;
	text-shadow: 2px 2px 3px #000;
	
}

h3{
	font-size: 3rem;
	font-family: candara, arial;
	margin: 0;
	padding: 5px;
}

h4{
	font-size: 1.6rem;
	font-family: candara, arial;
	margin: 0;
	padding-left: 5px;
	padding-bottom: 5px;
}

body{
	background-color: rgba(255, 255, 224);
}

.container{
	display: block;
	background-color: #fff;
	width: 95%;
	box-shadow: 2px 2px rgba(255, 255, 0);
	margin:  0 auto;
	max-width: 90%;
	max-height: 90%;
	min-width: 0;
	min-height: 0;
	margin-top: 40px;
}
footer{
	font-family: candara, arial;
	color:  #fff;
	background-color: rgba(255, 0, 0);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: 2px 2px 3px #000;
}

p{
	font-family: candara, arial;
	text-align: justify;
	padding: 10px;
	font-size: 1.6rem;
}

h1{
	font-family: candara, arial;
	text-align: center;
	padding-top: 10px;
	font-size: 5.0rem;
	color: rgba(255, 0, 0, 1.0);
	text-shadow: 2px 2px 2px #000;

}

@media(min-width: 320px) and (max-width: 450px){
	h1{
	font-family: candara, arial;
	text-align: left;
	padding-top: 10px;
	font-size: 3.0rem;
	color: rgba(255, 0, 0, 1.0);
	text-shadow: 2px 2px 2px #000;

}

}

h2{
	font-family: candara, arial;
	text-align: center;
	padding-top: 10px;
	font-size: 2.2rem;
	color: rgba(255, 0, 0, 1.0);
	text-shadow: 1px 1px #000;
}

.texto-footer{
	text-align: center;
	font-family: candara, arial;
	padding-top: 10px;
	font-size: 1.6rem;
	padding-bottom: 10px;
}

.compre{
	background-color: rgba(255, 255, 0, 0.9);
	width: 18rem;
	height: 12rem;
	position: fixed;
	right: 0;
	text-align: center;
	margin-top: 3%;
	z-index: 1;
	border-radius: 30px;
	border: solid #fff;
}

@media(min-width: 320px) and (max-width: 450px){
	.compre{
	background-color: rgba(255, 255, 0, 0.9);
	width: 35%;
	height: 14rem;
	position: fixed;
	right: 0;
	text-align: center;
	margin-top: 3%;
	z-index: 1;
	border-radius: 30px;
	border: solid #fff;
}

}

h5{
	font-family: candara, arial;
	text-align: center;
	padding: 1px;
	font-size: 1.9rem;

}

button{
	font-family: candara, arial;
	text-align: center;
	padding: 5px;
	font-size: 2rem;
	background-color: rgba(50, 205, 50, 1.0);
	color: #fff;
	border: solid;
	border-radius: 20px;
	width: 90%;
}

#grid-container{
	margin-top: 5px;
	background-color: rgba(255, 99, 71);
	padding: 5px;

}

.grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
	grid-gap: 2px;
	max-width: 1200px;
	margin: 0 auto;

}

.grid div{
	background-color: #fff;
	font-family: candara, arial;
	text-align: center;
	font-size: 1.6rem;
	padding: 2px;
}

#formulario{
	background-color: rgba(173, 216, 230, 1.0);
}

.formulario-contato{
	font-family: candara, arial;
	font-size: 1.8rem;
	padding: 10px;
	text-align: left;
	margin-left: 5%;
	font-weight: bolder;

}

input{
	font-family: sans-serif;
	font-size: 1.7rem;
	padding: 5px;

}

.dados-formulario{
	width: 60%;

}

nav{
	text-align: right;
	margin-top: 10px;
	font-weight: bold;
	font-family: candara, arial;
	font-size: 1.6rem;
	margin-right: 2%;
	word-spacing: 10px;
}

a{
	text-decoration: none;
	color: rgba(255, 255, 255, 1.0);
	transition: all 300ms ease-in-out;
}

a:hover{
	color: rgba(255, 255, 0, 1.0);

}

.imagem-grid{
	width: 22rem;
	height: 14rem;
	border-radius: 10%;
}

.texto-grid{
	font-family: arial;
	font-size: 1.7rem;
	text-align: center;
	font-weight: bold;

}
